In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 300)

In [240]:
file_train = "train.csv"
file_test = "test.csv"

df = pd.read_csv(file_train, index_col=False)
df_test = pd.read_csv(file_test, index_col=False)
df.shape, df_test.shape

((13730, 167), (4576, 47))

In [169]:
features=['NU_INSCRICAO','CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA', 
          'TP_NACIONALIDADE','TP_ST_CONCLUSAO','TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
          'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC','NU_NOTA_CN', 'NU_NOTA_CH', 
          'NU_NOTA_LC','TP_LINGUA','TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 
          'NU_NOTA_COMP3','NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO','Q001', 'Q002',
          'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047','NU_NOTA_MT']
         

target = ['NU_NOTA_MT']

In [170]:
df_train=df[features]

## An√°lise dos dados

In [172]:
df_train.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,RS,24,M,1,1,1,4,1,NaN,1,1,1,436.3,495.4,581.2,1,1.0,120.0,120.0,120.0,80.0,80.0,520.0,D,D,C,A,A,C,H,A,399.4
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,CE,17,F,3,1,2,0,2,1.0,1,1,1,474.5,544.1,599.0,1,1.0,140.0,120.0,120.0,120.0,80.0,580.0,A,A,B,A,A,A,NaN,A,459.8
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,CE,21,F,3,1,3,0,1,NaN,0,0,0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,C,A,A,A,NaN,A,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,RJ,25,F,0,1,1,9,1,NaN,0,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,E,E,C,B,C,F,D,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,AM,28,M,2,1,1,4,1,NaN,0,0,0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,D,C,A,A,B,F,A,NaN

### Dois campos est√£o com bastante nulos:

TP_ENSINO: Tipo de institui√ß√£o que concluiu ou concluir√° o Ensino M√©dio (regular, especial ou de Jovens e adultos)
Q027 : pergunta "Com que idade voc√™ come√ßou a exercer uma atividade remunerada?".

TP_ENSINO em sua maioria est√° com o codigo 1, ou seja, al√©m de varios nulls os valores est√£o direcionados praticamente a uma categoria. Ser√° retirado do modelo em primeiro momento.

Q027 tem aproximadamente 50% dos valores. Vari√°vel ser√° mantida para o primeiro teste.


### CO_UF_RESIDENCIA e SG_UF_RESIDENCIA  

basta ficar 1 pois tem o mesmo significado

In [174]:
df_train.drop('SG_UF_RESIDENCIA', inplace=True, axis=1)

/home/pinheiro/codenation/enem-2/venv/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [175]:
df_train.groupby(['TP_ENSINO'])['TP_ENSINO'].agg('count')

TP_ENSINO
1.0    3886
2.0      26
3.0     370
Name: TP_ENSINO, dtype: int64

In [176]:
df_train.groupby(['Q027'])['Q027'].agg('count')

Q027
A     475
B     699
C     751
D    1247
E     730
F    1267
G     435
H     275
I     141
J      94
K      68
L      47
M     128
Name: Q027, dtype: int64

In [177]:
df_train.drop('TP_ENSINO', inplace=True, axis=1)

/home/pinheiro/codenation/enem-2/venv/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [180]:
df_train.groupby('CO_UF_RESIDENCIA')['CO_UF_RESIDENCIA'].agg('count')

CO_UF_RESIDENCIA
11     108
12      67
13     274
14      33
15     594
16      73
17     167
21     593
22     292
23    1785
24     258
25     316
26     619
27     210
28     183
29     912
31    1374
32     272
33     804
35    2138
41     637
42     273
43     556
50     187
51     271
52     502
53     232
Name: CO_UF_RESIDENCIA, dtype: int64

In [182]:
categorical_vars = ['CO_UF_RESIDENCIA', 'SEXO', 'TP_COR_RACA', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 
                    'TP_ESCOLA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_LINGUA', 
                    'TP_STATUS_REDACAO','Q001', 'Q002', 'Q006', 'Q024','Q025', 'Q026', 'Q027', 'Q047']

numerical_vars = ['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 
                  'NU_NOTA_COMP4','NU_NOTA_COMP5', 'NU_NOTA_REDACAO','NU_NOTA_MT']

In [110]:
#Se o aluno esta com TP_PRESENCA_CN = 0, TP_PRESENCA_CH=0 e TP_PRESENCA_LC=0 
#quer dizer que o aluno n√£o participou do enen, assim ser√° excluido da base

In [183]:
missing_students = df_train[(df_train.TP_PRESENCA_CN == 0) & (df_train.TP_PRESENCA_CH == 0) & (df_train.TP_PRESENCA_LC == 0)].index
df_train.drop(missing_students, inplace=True)

/home/pinheiro/codenation/enem-2/venv/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [184]:
df_train.reset_index(inplace=True, drop=True)

In [185]:
df_train[numerical_vars].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10382 entries, 0 to 10381
Data columns (total 11 columns):
NU_INSCRICAO       10382 non-null object
NU_NOTA_CN         10341 non-null float64
NU_NOTA_CH         10341 non-null float64
NU_NOTA_LC         10133 non-null float64
NU_NOTA_COMP1      10133 non-null float64
NU_NOTA_COMP2      10133 non-null float64
NU_NOTA_COMP3      10133 non-null float64
NU_NOTA_COMP4      10133 non-null float64
NU_NOTA_COMP5      10133 non-null float64
NU_NOTA_REDACAO    10133 non-null float64
NU_NOTA_MT         10133 non-null float64
dtypes: float64(10), object(1)
memory usage: 892.3+ KB

In [186]:
# Dos valores numericos que sobraram e ainda est√£o com valores null ser√£o atribuidos o valor de zero.

df_train[numerical_vars] = df_train[numerical_vars].fillna(0)

/home/pinheiro/codenation/enem-2/venv/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [187]:
df_train[numerical_vars].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10382 entries, 0 to 10381
Data columns (total 11 columns):
NU_INSCRICAO       10382 non-null object
NU_NOTA_CN         10382 non-null float64
NU_NOTA_CH         10382 non-null float64
NU_NOTA_LC         10382 non-null float64
NU_NOTA_COMP1      10382 non-null float64
NU_NOTA_COMP2      10382 non-null float64
NU_NOTA_COMP3      10382 non-null float64
NU_NOTA_COMP4      10382 non-null float64
NU_NOTA_COMP5      10382 non-null float64
NU_NOTA_REDACAO    10382 non-null float64
NU_NOTA_MT         10382 non-null float64
dtypes: float64(10), object(1)
memory usage: 892.3+ KB

# Primeiro modelo - Somente as vari√°veis num√©ricas

In [117]:
from sklearn.linear_model import LinearRegression

In [189]:
# Separar as features e o target

features_num_train=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 
                  'NU_NOTA_COMP4','NU_NOTA_COMP5', 'NU_NOTA_REDACAO']
X_train = df_train[features_num_train]
X_train.head()

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,436.3,495.4,581.2,120.0,120.0,120.0,80.0,80.0,520.0
1,474.5,544.1,599.0,140.0,120.0,120.0,120.0,80.0,580.0
2,439.7,583.2,410.9,120.0,120.0,120.0,160.0,100.0,620.0
3,420.1,604.2,484.5,100.0,120.0,120.0,120.0,100.0,560.0
4,619.6,625.8,611.2,140.0,120.0,120.0,120.0,120.0,620.0

In [190]:
y_train = df_train['NU_NOTA_MT']
y_train.head()

0    399.4
1    459.8
2    364.5
3    529.2
4    566.7
Name: NU_NOTA_MT, dtype: float64

In [191]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [201]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

-56.767882710986385
[ 0.39070859 -0.07902715  0.68831318  0.07274498  0.03043664 -0.0631753
  0.0327227  -0.01396032  0.05876869]

In [247]:
df_test_num = df_test[numerical_vars[:-1]].fillna(0)


#X_test.dropna(how='all', inplace=True)

In [248]:
df_test_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 10 columns):
NU_INSCRICAO       4576 non-null object
NU_NOTA_CN         4576 non-null float64
NU_NOTA_CH         4576 non-null float64
NU_NOTA_LC         4576 non-null float64
NU_NOTA_COMP1      4576 non-null float64
NU_NOTA_COMP2      4576 non-null float64
NU_NOTA_COMP3      4576 non-null float64
NU_NOTA_COMP4      4576 non-null float64
NU_NOTA_COMP5      4576 non-null float64
NU_NOTA_REDACAO    4576 non-null float64
dtypes: float64(9), object(1)
memory usage: 357.6+ KB

In [249]:
X_test = df_test_num[features_num_train]
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 9 columns):
NU_NOTA_CN         4576 non-null float64
NU_NOTA_CH         4576 non-null float64
NU_NOTA_LC         4576 non-null float64
NU_NOTA_COMP1      4576 non-null float64
NU_NOTA_COMP2      4576 non-null float64
NU_NOTA_COMP3      4576 non-null float64
NU_NOTA_COMP4      4576 non-null float64
NU_NOTA_COMP5      4576 non-null float64
NU_NOTA_REDACAO    4576 non-null float64
dtypes: float64(9)
memory usage: 321.8 KB

In [250]:
y_pred = regressor.predict(X_test)

In [222]:
type(y_pred)

numpy.ndarray

In [251]:
df_result_insc = pd.DataFrame(df_test_num['NU_INSCRICAO'])

In [252]:
resultado = pd.concat([df_result_insc, pd.DataFrame(np.round(y_pred,3))], axis=1)
resultado.reset_index(inplace=True, drop=True)

In [253]:
resultado.columns=['NU_INSCRICAO', 'NU_NOTA_MT']

In [255]:
resultado.to_csv("answer.csv", index=False)