# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [363]:
import pandas as pd
import numpy as np

In [364]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [365]:
black_friday.head()
#black_friday[black_friday['Gender'] == 'F', black_friday['Age']== 25 ]
#black_friday.loc[(black_friday['Gender'] == 'F') & (black_friday['Age'] >= '26') &  (black_friday['Age'] <= '35')].shape[0]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [366]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [367]:
def q2():
    return black_friday.loc[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [368]:
def q3():
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [369]:
def q4():
    variables = pd.DataFrame(black_friday.dtypes).reset_index(level=0)
    variables.columns = ['desc', 'type']
    return variables['type'].nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [370]:
def q5():
    return float((black_friday.isnull().sum(axis=1) > 0).sum() / black_friday.shape[0])

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [371]:
def q6():
    return int(black_friday.isnull().apply(sum).sort_values(ascending=False).iloc[0])

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [372]:
def q7():
    return black_friday['Product_Category_3'].value_counts(sort=True, dropna=True).reset_index(level=0).iloc[0,0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [409]:
def q8():
    bf = pd.DataFrame()
    bf['Purchase'] = ((black_friday['Purchase'] - black_friday['Purchase'].min())/(black_friday['Purchase'].max() - black_friday['Purchase'].min()))
    return float(bf['Purchase'].mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [410]:
def q9():
    std = black_friday['Purchase'].std()
    mean = black_friday['Purchase'].mean()
    black_friday['Purchase'] = (black_friday['Purchase'] - mean) / std
    return int(black_friday['Purchase'].loc[(black_friday['Purchase'] > -1) & (black_friday['Purchase'] < 1)].shape[0])

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [353]:
def q10():
    valores_booleanos_falsos_para_questao = pd.DataFrame()
    valores_booleanos_falsos_para_questao = (black_friday['Product_Category_2'].isnull() == True) & (black_friday['Product_Category_3'].isnull() == False)
    return bool(valores_booleanos_falsos_para_questao.value_counts().iloc[0] == black_friday.shape[0])